DEBUG_MODE=true

# port
PORT=4000
# host localhost/ip_address
HOST=192.168.28.113

JWT_SECRET=mysecretkey

# set database string connection
MONGODB_URI=mongodb://127.0.0.1:27017

XENDIT_API_KEY=xnd_development_6guG5DDZtptligi0Q1laI928HxpmlyulL2IdoDWb4sWtyoXoposxYVR3w5CivZ
XENDIT_WEBHOOK_URL=https://50b5-180-244-160-60.ngrok-free.app